<div class="container">
  <p><%= @name %>さん、こんにちは！</p>
  <div class="contents row">
    <h4>ブックマーク記事</h4>
    <div class="contents row">
      <% if @favposts.present? %>
        <%= render 'posts/posts', posts: @favposts %>
      <% else %>
        <p>ブックマーク記事はありません。</p>
      <% end %>
    </div>
  </div>
</div>