<div class="contents row">
  <small><%= @post[:created_at].strftime('%Y年%m月%d日 %H:%M') %></small>
  <h3><%= @post.title %></h3>
  <p><%= @post.body %></p>
  <p>
    <% if @post.pdfs.attached? %>
      <% @post.pdfs.each do |pdf| %>
        <%= link_to pdf.filename, rails_blob_path(pdf) %>
      <% end %>
    <% end %>
  </p>
</div>