<h2>ソフトウェアアップロード</h2>
<div class="contents row">
  <%= form_for (@product) do |f| %>
    
    <%= f.label :data, 'データ' %>
    <%= f.file_field :data %>
    
    <%= f.submit "アップロード"%>
  <% end %>
</div>