<div class="contents row">
  <div class="container">
  <h4>ソフトウェアアップロード</h4>
  <p> ※ zipファイルにしてからアップロードしてください</p>
    <%= form_for (@product) do |f| %>
    <div class="form-group">
      <%= f.file_field :data, class: "shadow-sm form-control" %>
    </div>
      <%= f.submit "アップロード", class: "btn btn-info mt-3 mb-3" %>
    <% end %>
  </div>
</div>